body {
    background-color: #8b2736;
    font-family: 'Calibri';
    color: silver;
}

h3 {
    color: black
}

table, form {
    background-color: silver;
    color: black;
}

#inici {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: black;
    position: relative;
    left: 700px;
}

#footer {
    background-color: silver;
    border: darkgrey 2px solid;
    position: relative;
}

#img_foot {
    position: relative;
    right: -5px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  
#menu ul a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  
  /* items del menu */
  
#menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    background-color: #383838;
    border-radius: 2px;
  }
  
  /* efecte quan passa el mouse */
  
#menu ul li:hover {
    background: grey;
  }
  
  /* menu desplegable */
  
  #menu ul ul {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background: #eee;
   padding: 0;
  }
  
  /* items del menu desplegable */
  
  #menu ul ul li {
   float: none;
   width: 150px;
  }
  
  /* enllaços menu desplegable */
  
  #menu ul ul a {
   line-height: 120%;
   padding: 10px 15px;
  }
  
  /* items del menu desplegable quan passa el mouse */
  
  #menu ul li:hover > ul {
   display: block;
  }